# Ignore node_modules in the root directory and all subdirectories
node_modules/

# Ignore node_modules in the client directory and all subdirectories
client/node_modules/

# Ignore node_modules in the server directory and all subdirectories
server/node_modules/
serverside/server.js
*.jpeg
